{
  "app": {
    "appname": "erstiwe_anmeldung",
    "hostname": "localhost"
  },
  // use here your ssh-key you generated and copied to the server
  "users": {
    "deploy_keys": [
      "ssh-rsa A...n user@example.com"
    ],
    "admin_keys": [
      "ssh-rsa A...n user@example.com"
    ]
  },
  "postgresql": {
    "version": "9.3",
    "enable_pgdg_apt": true,
    "db_root_password": "SECUREpasswordFORpostgresDATABASEuser",
    "database":
      {
        "username": "erstiwe_anmeldung",
        "password": "pgpass",
        "database_name": "erstiwe_anmeldung_production"
      }
  },
  "ruby": {
    "version": "2.0.0-p481"
  },
  "nginx": {
    "version": "1.7.3",
    "passenger": {
      "version": "4.0.48"
    }
  },
  "nodejs": {
    "version": "0.10.29",
    "npm": "1.4.14"
  },
  // don't change anything here
  "run_list": [
    "rails-cookbook"
  ]
}
