{
  "app": {
    "appname": "erstiwe_anmeldung",
    "hostname": "localhost"
  },
  // use here your ssh-key you generated and copied to the server
  "users": {
    "deploy_keys": [
      "ssh-rsa A...n user@example.com"
    ],
    "admin_keys": [
      "ssh-rsa A...n user@example.com"
    ]
  },
  "postgresql": {
    "version": "9.3",
    "db_root_password": "SECUREpasswordFORpostgresDATABASEuser",
    "database": 
      {
        "username": "erstiwe_anmeldung",
        "password": "pgpass",
        "database_name": "erstiwe_anmeldung_production"
      }
  },
  "ruby": {
    "version": "2.1.0p0"
  },
  "nginx": {
    "version": "1.5.8",
    "passenger": {
      "version": "4.0.33"
    }
  },
  "nodejs": {
    "version": "0.10.24",
    "npm": "1.3.21"
  },
  // don't change anything here
  "run_list": [
    "rails-cookbook" 
  ]
}
