
%div{class:"row"}
  %div{class:"small-9 large-centered columns"}
    %h2 Tickets

= render 'generate_form'
%div{class:"row"}
  %div{class:"small-12 columns text-center"}
    %p{class:"tickets-columns"}
      - @tickets.each do |ticket|
        - taken = User.find_by ticket_id: ticket.id
        %span{class:("taken" if taken)}
          #{ticket.token} -
          - if taken
            bereits eingelöst
          - else
            Einlösen auf
            %br 
            https://geofs.uni-muenster.de/erstiwochenende
        %br
