%div{class:"row"}
  %div{class:"small-9 large-centered columns"}
    %h1 Anmeldung Erstiwochenende
%div{class:"row"}
  %div{class:"large-12 columns"}
    %p
      Herzlich Willkommen auf der Seite des Erstiwochenendes der Fachschaften
      %a{href:"https://geofs.uni-muenster.de/geoinf/", target:"_blank"} Geoinformatik
      &amp;
      %a{href:"https://geofs.uni-muenster.de/geoloek/", target:"_blank"} Geographie/Landschaftsökologie
      %br
      %br
      Hier kannst du das Ticket, das du beim Geobrunch&trade; erworben hast, einlösen.

- if !current_user
  %div{class:"row"}
    %div{class:"large-6 columns"}
      = link_to new_user_registration_path, class:"callout_panel_a" do
        %div{class:"panel callout radius"} Ich habe ein Ticket und möchte es einlösen!
    %div{class:"large-6 columns"}
      - if false
        = link_to waiting_list_path do
          %div{class:"panel radius"} Ich möchte auf die Warteliste!
  = link_to 'Einloggen', new_user_session_path
