// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$c_male: #9999EE
$c_female: #ee9999
$c_gi: #336699
$c_loek: #11FF11
$c_geo: #00bfff
$c_2geo: #d2691e
$c_attention: #FFFF00

.male
  background-color: $c_male

.female
  background-color: $c_female

.gi
  background-color: $c_gi

.loek
  background-color: $c_loek

.geo
  background-color: $c_geo

.zfgeo
  background-color: $c_2geo

.attention
  background-color: $c_attention